@import "normalize";

$font-family: 'Vollkorn', Georgia, Times, serif;
$red: #A73030;

body {
  background: #000 url('../images/flamez.png') no-repeat fixed bottom center;
  font-family: $font-family;
  color: #FFF;
  padding-top: 120px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  font-size: 3em;
  margin: 1.5em 0;
}

button {
  background: $red;
  border: 5px solid $red;
  border-radius: 3px;
  color: #FFF;
  font-family: $font-family;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 12px 20px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  i {
    font-size: 25px;
    margin-right: 5px;
  }
  &:hover {
    background: #FFF;
    color: #000;
    text-shadow: none;
  }
  &:active {
    background: #EEE;
    color: #000;
    position: relative;
    text-shadow: none;
    left: 1px;
    top: 2px;
  }
}